aiohttp==3.7.4
astor==0.8.1
astunparse==1.6.3
attrs==21.2.0
blinker==1.4
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
cryptography==3.4.7
gast==0.3.3
h5py==2.10.0
idna==2.10
Keras==2.4.3
Markdown==3.3.4
multidict==5.1.0
numpy==1.20.2
oauthlib==3.0.1
olefile==0.46
Pillow==8.1.2
pip==21.1.1
pyasn1==0.4.8
pycparser==2.20
PyYAML==5.4.1
requests==2.25.1
rsa==4.7.2
scipy==1.6.3
setuptools~=49.6.0
six==1.16.0
tensorboard==2.4.1
tensorflow==2.3.0
termcolor==1.1.0
urllib3==1.26.4
Werkzeug==2.0.0
wheel==0.36.2
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.1
zlib~=1.2.11
gettext~=0.19.8.1
openssl~=1.1.1k
readline~=8.1
yaml~=0.2.5
typing_extensions~=3.7.4.3
idna_ssl~=1.1.0
dataclasses~=0.8
opt_einsum~=3.3.0
python~=3.7.10
dbus~=1.13.6